body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
}

header {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f6d9d5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 11pt;
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#details div {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}